.App {
  text-align: center;
}

body {
  /*background-image: url("C:\Users\pdeyonghe\Documents\GitHub\Sprint-Challenge-React-Smurfs\village\public\smurfscover.jpg");*/
  background-color: #224de3;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-around;
  max-width: 600px;
  margin: 0 auto;
  margin-top: 20px;
  
}

ul {
  list-style-type: none;
}

li {
  border: 1px solid white;
  border-radius: 60%;
  padding: 20px;
  background-color: white;

}

a {
  color: #224de3;
  text-decoration: none;
  font-weight: bolder;
}